<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ixeb-studio:grid-size" content="8x24">
    <meta name="ixeb-studio:screen-size" content="834x543">
	<meta name="created" content="%CREATE%">
    <meta name="ixeb-studio:type" content="slip">
    <meta name="ixeb-studio:DPI" content="120">
    <meta name="ixeb-studio:LPI" content="5">
    <meta name="ixeb-studio:CPI" content="12">
    <meta name="ixeb-studio:leftMargin" content="20">
    <meta name="ixeb-studio:topMargin" content="60">
    <meta name="ixeb-studio:background-opacity" content="0.3">
    <meta name="ixeb-studio:grid-size" content="8x24">
    <meta name="ixeb-studio:screen-size" content="834x543">
	<title>%TITLE%</title>
	<script type="text/javascript" src="%PROJECT_RPATH%/ixeb/ext/jquery/2.2.1/jquery-2.2.1.min.js"></script>
	<script type="text/javascript" src="%PROJECT_RPATH%/ixeb/lib/ixebBase.min.js"></script>
	<!-- From here, enter your script and style. -->
	<script type="text/javascript">
	
	</script>
</head>
<body>

</body>
</html>